body{
    margin: 0px;
    padding: 0px;
     display: flex;
    justify-content: center;
   align-items: center;
}

#root{
    background-color: white;
    color: bisque;
  height: 300px;
    width: 300px;
    border: 1px solid black;
    text-align: center;
   
}